<header id="header" >
    <div class="container">
        <a href="#" class="logo">
            <img src="/images/logo.png"alt="">
            <span>IXON</span>
        </a>
        <ul class="navbar">
            <li><a href="/about">Features</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/store">Asset Store</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <div class="main">
            <a href="/cart" class="card"><i class='bx bx-cart'></i></a>
            <a href="/Login" class="user"><i class="fa-solid fa-user"></i>Sign In</a>
            <a href="/register">Register</a>
            <div class="toggle_icon">
            <i class="bx bx-menu" id="menu-icon" ></i>
            </div>
        </div>
    </div>
</header>