<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/Header.ejs")%>
    <body>
        <!-- Start Header -->
        <%- include("./partials/nav.ejs")%>
        <!-- End Header -->
        <!-- Start Landing -->
        <div class="landing">
            <div class="container">
                <div class="info-img">
                    <img class="img1" src="/img/card.png" alt="">
                    <img class="img2" src="/img/minecraft.png" alt="">
                    <img class="img3" src="/img/FEATURES.energy.png" alt="">
                </div>
                <div class="info">
                    <h3>WANT TO DISCOVER GDEVELOP GAMES?</h3>
                    <h2>Play games on <br>gd.games</h2>
                    <p>gd.games is the place to discover and play, directly from your browser, the best games made with GDevelop.</p>
                </div>
                <div class="info-btn">
                    <button class="button-89" role="button">Play games on gd.games</button>
                </div>
            </div>
        </div>
        <!-- End Landing -->
        <!-- Start Title -->
        <!-- Start For Individuals -->
        <div class="title">
            <div class="container">
                <p>GDevelop can be published anywhere - mobile, desktop, tablets. Find below a selection of some of the best games made with GDevelop.</p>
            </div>
        </div>
        <!-- End Title -->
        <!-- Start games -->
        <div class="games">
            <div class="container">
                <!-- box 1 -->
                <div class="box">
                    <img src="/img/games1/1.png" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Vai Juliette! by <span>Ornilo Games </span></h3>
                        </div>
                        <div class="info-footer">
                        <p>Venture into this hypercasual game with over 1 million downloads alongside the Brazilian superstar Juliette Freire!...Learn More</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 1 -->
                <!-- box 2 reverse -->
                <div class="box reverse">
                    <img src="/img/games1/2.png" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Ball Challenge 2 by<span>André Holtz</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>Ball Challenge 2 is a 2D physics - platformer game with puzzles and challenging elements. Collect all the diamonds and coins in the level wh...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 2 reverse -->
                <!-- box 3 -->
                <div class="box">
                    <img src="/img/games1/3.jpg" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Zombie Tower<span>Defense</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>"Zombie Tower" is a local co-op side-scroller beat'em up inspired in classical arcade games like "Golden Axe", "Final Fight", "TMNT",...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 3 -->
                <!-- box 4 reverse -->
                <div class="box reverse">
                    <img src="/img/games1/4.png" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Stranded on a Raft by<span>Rinexus Games</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>You sail over an ocean of dangers. Try to survive as long as possible and see if you're the best survivor!...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 4 reverse -->
                <!-- box 5 -->
                <div class="box">
                    <img src="/img/games1/5.png" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Miko Adventures Puffball by<span>Coriander Games</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>Miko Adventures Puffball is a challenging, tough, charming, colorful and cute 2D Platformer with a Metroidvania feeling to it. You play Miko...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 5 -->
                <!-- box 6 reverse -->
                <div class="box reverse">
                    <img src="/img/games1/6.jpg" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Brain Game: Test Your IQ by<span>GAMEE 2D</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>Logical puzzles for everyone. Are you ready to discover how smart you are?...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 6 reverse -->
                <!-- box 7 -->
                <div class="box">
                    <img src="/img/games1/9.jpg" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Hyperspace Dogfights by<span>Sleeper Games</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>Hyperspace Dogfights is a juicy jet-combat roguelike in which you'll blast, dodge and slice your way through masses of technologically infer...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 7 -->
                <!-- box 8 reverse -->
                <div class="box reverse">
                    <img src="/img/games1/8.gif" alt="">
                    <div class="info">
                        <div class="info-header">
                            <h4>MUST-PLAY GAMES</h4>
                            <h3>Lil BUB's HELLO EARTH by<span>Lil BUB's Team</span></h3>
                        </div>
                        <div class="info-footer">
                        <p>BUB is a very special, one of a kind critter. More specifically, she is the most amazing cat on the planet... and her game is made with GDev...</p>
                        <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <!-- box 8 reverse -->
            </div>
        </div>
        <!-- End games -->
                                        <!-- Start Footer -->
                                        <%- include("./partials/Footer.ejs")%>
                                        <!-- End Footer -->
        <!-- js -->
        <script>
            let menu = document.querySelector('#menu-icon');
            let navbar = document.querySelector('.navbar');
menu.onclick = () =>{
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open')
}
// up
let span =document.querySelector('.up')
window.onscroll =() =>{
    // console.log(this.scrollY)
    if(this.scrollY >= 1000){
        span.classList.add('show')
    }else{
        span.classList.remove('show')
    }
}
span.addEventListener('click',function(){
    scroll({
        top: 0,
        behavior: "smooth"
}) 
    })
//
        </script>
                <!-- js -->
    </body>
</html>
