<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/Header.ejs")%>
    <body>
        <%- include("./partials/nav.ejs")%>
        <!-- End Header -->
        <!-- Start Landing -->
        <div class="landing">
            <div class="container">
                <div class="info-text">
                    <h1>Free and Easy <span>Game-Making </span> App</h1>
                    <p>Make games With Ixon,a n-code,<br>
                    open-source,free,and easy game-<br>making app.</p>
                </div>
                <div class="info-btn">
                    <button>Try it online</button>
                    <button>Download</button>
                </div>
                <img class="land00" src="/img/land00.png" alt="">
                <div class="image">
                    <img src="/img/cloud.png" alt="">
                </div>
            </div>
        </div>
        <!-- End Landing -->
        <!-- Start Features -->
        <div class="Features" id="Features">
            <div class="info-text">
                    <h1 class="main-title">Features</h1>
                    <p>Ixon is bundled with hundreds of features to help create any kind of game you can imagine.</p>
            </div>
                <div class="container">
                    <div class="Features-container">
                        <div class="Features-text">
                            <img src="/img/click.png" alt="">
                            <h3>Objects for your <br> games</h3>
                            <p>Easily create objects and drop them in to <br> your scene to use them.
                            Choose among <br> sprites, particle emitters, texts and many <br> others.</p>
                        </div>
                        <div class="info-btn">
                            <button>Discover all objects</button>
                            <button>start Develop</button>
                        </div>
                    </div>
                    <div class="cards">
                                    <!--  -->
                        <div class="card">
                            <img src="/img/FEATURES.blob.png" alt="">
                            <p>SPRITES</p>
                        </div>
                                    <!--  -->
                                    <!--  -->
                        <div class="card">
                            <img src="/img/FEATURES.explosion.png" alt="">
                            <p>SPRITES</p>
                        </div>
                                    <!--  -->
                                    <!--  -->
                        <div class="card">
                            <img src="/img/FEATURES.text.png" alt="">
                            <p>SPRITES</p>
                        </div>
                                    <!--  -->
                                    <!--  -->
                        <div class="card">
                            <img src="/img/FEATURES.energy.png" alt="">
                            <p>SPRITES</p>
                        </div>
                                    <!--  -->
                    </div>
                </div>
            </div>
        <!-- End Features -->
        <!-- Start Features 2 -->
        <div class="Features2">
            <div class="container">
                <img src="/img/no-code.png" alt="">
                <div class="info">
                    <img src="/img/smile.png" alt="">
                    <h2>No-code event <br> system</h2>
                    <p>No need to learn to code, because our intuitive event system makes game logic easy. Refined over the years, it's the most accessible and efficient no-code approach that was ever made.</p>
                </div>
            </div>
        </div>
        <!-- End Features 2 -->
        <!-- Start Features 3 -->
        <div class="Features2">
            <div class="container reverse">
                <img src="/img/undraw_Predictive_analytics_re_wxt8.png" alt="">
                <div class="info">
                    <img src="/img/setting.png" alt="">
                    <h2>Add behaviors to<br>your game objects</h2>
                    <p>Over a hundred behaviors to plug in to game objects for easy game creation.</p>
                    <div class="info-btn">
                        <button>Start building</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features 3 -->
        <!-- Start Features 4 -->
        <div class="Features2">
            <div class="container">
                <img src="/img/cyberpunk-road-game.png" alt="">
                <div class="info">
                    <img src="/img/lightning.png" alt="">
                    <h2>Lightweight & <br>powerful</h2>
                    <p>Perfect for creating any 2D you can imagine. From small mobile titles, to larger steam releases. Powerful, <Span class="Span1"><span>open-source game engine</span></Span> powered by WebGL and WebAssembly.</p>
                </div>
            </div>
        </div>
        <!-- End Features 4 -->
        <!-- Start Live Preview -->
        <div class="preview">
            <div class="header-info">
                <h2>Super fast development <br>
                    with <span>Live Preview</span></h2>
                <p>Preview your games on other devices (phone, tablet, other computers) with GDevelop’s Network Preview. Apply your changes to the game with a simple button. No export needed.</p>
            </div>
            <div class="container">
                <div class="effect-info">
                    <div class="dropdown">
                        <button id="button1">Noise</button>
                        <button id="button2">Black and white</button>
                        <button id="button3"> Blur</button>
                    </div>
                    <div class="image">
                        <img id="platform" src="/img/live-preview-platform.png" alt="">
                        <img src="/img/live-preview.png" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-info">
                <h2>Deploy your game <br>everywhere</h2>
                <p>Games created with GDevelop run anywhere and can be exported in a single click. On the web, as a mobile app for iOS and Android, publish on Steam, Epic Games Store, Facebook Gaming, Itch.io, Newgrounds, the Microsoft Store...</p>
                <div class="icons">
                    <i class="fa-brands fa-android"></i>
                    <i class="fa-brands fa-steam-symbol"></i>
                    <i class="fa-brands fa-apple"></i>
                    <i class="fa-brands fa-windows"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="btn-info">
                    <button>Learn how to publish</button>
                </div>
            </div>
        </div>
        <!-- End Live Preview -->
        <!-- Start Features 5 -->
        <div class="Features2">
            <div class="container reverse">
                <img src="/img/asset-store.png" alt="">
                <div class="info">
                    <img src="/img/image.png" alt="">
                    <h2>Huge built in asset<br>store</h2>
                    <p>With thousands of free and premium assets to help you with game creation. It's fast and integrated directly in GDevelop.</p>
                </div>
            </div>
        </div>
        <!-- End Features 5 -->
        <!-- Start Features 6 -->
        <div class="Features2">
            <div class="container">
                <img src="/img/quick-sharing.png" alt="">
                <div class="info">
                    <img src="/img/hotspot.png" alt="">
                    <h2>Quick game preview <br>and sharing</h2>
                    <p>Play and share your game with anyone: preview on your computer, test on your friend’s devices… share it with the internet! You’ve never seen an engine so fast.</p>
                </div>
            </div>
        </div>
        <!-- End Features 6 -->
        <!-- Start Features 7 -->
        <div class="Features2">
            <div class="container reverse">
                <img src="/img/features_shader_noise.png" alt="">
                <div class="info">
                    <img src="/img/view.png" alt="">
                    <h2>Use visual effects<br>(shaders)</h2>
                    <p>Add effects to the layers and objects of your scene. These effects allow to quickly change the atmosphere and rendering of your game in one click.</p>
                </div>
            </div>
        </div>
        <!-- End Features 7 -->
        <!-- Start Features 8 -->
        <div class="Features2">
            <div class="container">
                <img src="/img/undraw_Cloud_hosting_7xb1.png" alt="">
                <div class="info">
                    <img src="/img/hammer.png" alt="">
                    <h2>Create your own <br>custom functions and <br>behaviors</h2>
                    <p>Use pre existing behaviors, or enhance them with the no-code event system. There are no limits for bigger games with the advanced, expandable logic you can build and reuse.</p>
                </div>
            </div>
        </div>
        <!-- End Features 8 -->
        <!-- Start Features 9 -->
        <div class="Features2">
            <div class="container reverse">
                <img src="/img/extensions.png" alt="">
                <div class="info">
                    <img src="/img/plugin.png" alt="">
                    <h2>Community, open-<br>source extensions</h2>
                    <p>You’re an advanced user and want to start a 2.5D/3D game or make a multiplayer based game? The community has made extensions for it. 160+ extensions, and growing!</p>
                </div>
            </div>
        </div>
        <!-- End Features 9 -->
        <%- include("./partials/Footer.ejs")%>
        <!-- js -->
        <!-- js -->
        <script>
            let menu = document.querySelector('#menu-icon');
            let navbar = document.querySelector('.navbar');
menu.onclick = () =>{
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open')
}
// up
let span =document.querySelector('.up')
window.onscroll =() =>{
    // console.log(this.scrollY)
    if(this.scrollY >= 1000){
        span.classList.add('show')
    }else{
        span.classList.remove('show')
    }
}
span.addEventListener('click',function(){
    scroll({
        top: 0,
        behavior: "smooth"
}) 
    })
//
let button1 = document.querySelector('#button1');
let button2 = document.querySelector('#button2');
let button3 = document.querySelector('#button3');
let platform = document.querySelector('#platform');

button1.onclick =() =>{
    platform.classList.toggle('button1');
    button1.classList.toggle('hover');
}
button2.onclick =() =>{
    platform.classList.toggle('button2');
    button2.classList.toggle('hover');
}
button3.onclick =() =>{
    platform.classList.toggle('button3');
    button3.classList.toggle('hover');
}
        </script>
                <!-- js -->
        <script src="../views/home-main.js"></script>
    </body>
</html>
