<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/Header.ejs")%>
    <body>
        <!-- Start Header -->
        <%- include("./partials/nav.ejs")%>
        <!-- End Header -->
        <!-- Start Landing -->
        <div class="landing">
            <div class="container">
                <div class="info">
                    <h1>GDevelop Academy: <br>
                    <span>game making tutorials</span></h1>
                    <p>Learn step-by-step how to use GDevelop or get help about a specific feature. We have game making tutorials for beginners and <span>the wiki</span> has a complete documentation for the app.</p>
                </div>
                <div class="text">
                    <input type="text" placeholder= " Browse a course, a notion...">
                </div>
            </div>
        </div>
        <!-- End Landing -->
        <!-- Start Title -->
        <div class="title">
            <div class="container">
                <div class="video">
                    <p>103 VIDEOS</p>
                    <p>7 ARTICLES</p>
                </div>
                <div class="info">
                    <h1>Learn game making with GDevelop</h1>
                    <p>Learn our fast and flexible game engine. Watch our bite sized videos or read a complete article to start building a game.</p>
                </div>
            </div>
        </div>
        <!-- End Title -->
        <!-- Start articles -->
        <div class="articles" >
            <div class="container">
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
                <!-- 1 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=595-swNh0Mw&list=PL3YlZTdKiS89Kj7IQVPoNElJCWrjZaCC8">
                    <img src="img/articles/1.png" alt="">
                    <div class="content">
                        <h3>How To Get Started</h3>
                        <p>Learn the basics of GDevelop and game creation. Start in a few minutes thanks to our playlist of 5 minutes video, and start making...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=5NzMs1JRuXA&list=PL3YlZTdKiS89LrdlHcHo5vePN3O3UhGwm">
                    <img src="img/articles/2.png" alt="">
                    <div class="content">
                        <h3>How To Get Better</h3>
                        <p>Learn deeper concept related to game creation with GDevelop: make multiple levels, add leaderboards to your game, touch controls, save and load, use the...</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=eU0kkLSdw0Y&list=PL3YlZTdKiS898Wio0tvKjQM0x3zo4V0Mb">
                    <img src="img/articles/3.png" alt="">
                    <div class="content">
                        <h3>How To Make a Platformer</h3>
                        <p>Learn how to make a Platformer game from scratch! Starting from zero, you will learn how to make a fun platform game, using assets...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 3 -->
                <!-- 4 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=2eOhvUIL4vg&list=PL3YlZTdKiS886KwTTyWJ3Zg1CjZq9jxvI">
                    <img src="img/articles/4.jpeg" alt="">
                    <div class="content">
                        <h3>How To Go In-Depth</h3>
                        <p>Learn in deep a feature of the game engine.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 4 -->
                <!-- 5 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=27e3m906x7I">
                    <img src="img/articles/5.jpg" alt="">
                    <div class="content">
                        <h3>6 Ways To Make Your Game Better</h3>
                        <p>Improve game feel (Or Juice) by doing 4 of these 6 things, and then the other 2 will help you get and retain players for your game. Wikipedia says that "Game feel...ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 5 -->
                <!-- 6 -->
                <div class="box">
                    <a href="https://www.youtube.com/watch?v=w1SCpQ-mRCk&list=PL3YlZTdKiS8_Q8UPu2BJV5P5gYA-Q-k19">
                    <img src="img/articles/6.png" alt="">
                    <div class="content">
                        <h3>How to make Asteroids</h3>
                        <p>Learn how to make the Asteroids game! Starting from zero, these videos will teach you how to make this game.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>
                    </div>
                    <div class="info">
                        <p>More</p>
                    </div>
                    </a>
                </div>
                <!-- 6 -->
            </div>
        </div>
        <!-- End articles -->
                                <!-- Start Footer -->
                                <%- include("./partials/Footer.ejs")%>
        <!-- js -->
        <script>
            let menu = document.querySelector('#menu-icon');
            let navbar = document.querySelector('.navbar');
menu.onclick = () =>{
    menu.classList.toggle('bx-x');
    navbar.classList.toggle('open')
}
// up
let span =document.querySelector('.up')
window.onscroll =() =>{
    // console.log(this.scrollY)
    if(this.scrollY >= 1000){
        span.classList.add('show')
    }else{
        span.classList.remove('show')
    }
}
span.addEventListener('click',function(){
    scroll({
        top: 0,
        behavior: "smooth"
}) 
    })
//
        </script>
                <!-- js -->
    </body>
</html>
