<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamal</title>
    <!-- Main Template CSS File -->
    <link rel="Stylesheet" href="/css/Login.css">
    <!-- Render All Elements Normally -->
    <link rel="Stylesheet" href="css/normalizw.css">
    <!-- Font Awesome Library -->
    <link rel="Stylesheet" href="css/all.min.css">
    <!-- boxicons  -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- boxicons or -->
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Google Fonts -->
    <link rel="icon" href="/images/logo.png" type="/images/logo.png">
</head>
    <body>
        <div class="login">
            <img src="/img/github-mark-white.png" alt="">
            <h1>SIGN UP</h1>
            <form>
                <label><i class='bx bx-user'></i> <span>Username</span></label>
                <input type="text" required placeholder="Enter Your Username">
                <label> <i class='bx bx-lock-alt' ></i> <span>Password</span></label>
                <input type="password" required placeholder="Enter Your password">
                <a href="#">forget password</a>
                <input type="submit" value="Login">
                <br>
            </form>
            <div class="or">or</div>
            <div class="icon">
                <i class='bx bxl-google google'></i>
                <i class='bx bxl-facebook facebook'></i>
                <i class='bx bxl-linkedin linkedin' ></i>
            </div>
            <div class="a-footer"><a href="#">Already a user ? <span>Register</span></a></div>        
        </div>
    </body>
</html>
