<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/Header.ejs")%>
    <body>
        <!-- Start Header -->
        <%- include("./partials/nav.ejs")%>
        <!-- End Header -->
        <!-- Start Landing -->
        <div class="landing">
            <div class="container">
                <div class="info">
                    <h1>GDevelop<br>
                    <span class="span1">Premium</span> <span>Plans</span></h1>
                    <p>Supercharge your games by unlocking additional online services and perks in the community.</p>
                </div>
            </div>
        </div>
        <!-- End Landing -->
        <!-- Start Title -->
        <!-- Start For Individuals -->
        <div class="title">
            <div class="container">
                <div class="info">
                    <h1>For Individuals</h1>
                    <p>GDevelop is an open-source game engine. You can freely use it, contribute to it and have full ownership of your games. Premium plans allow you to unlock the full power of our online services to build, publish and operate your games!</p>
                </div>
            </div>
        </div>
        <!-- End Title -->
        <!-- Start pricing -->
        <div class="pricing" >
            <div class="container">
                <!-- 1 -->
                <div class="table">
                    <div class="price">
                        <h1>$0</h1>
                        <small>forever</small>
                    </div>
                    <div class="shadow-container">
                        <div class="table-header">
                            <div class="title">
                                <h1>FREE</h1>
                                <p>Free and open-source</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="body-title">
                            <h2>Mobile Application</h2>
                        </div>
                        <!--  -->
                        <ul>
                            <div class="ul-title">Mobile Application</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>1 Scene</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>20 Objects</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>30 Events</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Cloud Projects                            </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>10 Cloud Projects</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Game Publishing                           </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>2 cloud builds per day for Android</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>2 cloud builds per day for desktop</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited web builds to gd.games</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited manual builds</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Branding                         </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Default GDevelop splashscreen</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Default GDevelop splashscreen</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Game Monetization                        </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>AdMob and In-App Purchases</span>
                            </li>
                        </ul>
                        <!--  -->
                        
                    </div>
                    <button>order now</button>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="table">
                    <div class="price">
                        <h1>$4.99</h1>
                        <small>/mo</small>
                    </div>
                    <div class="shadow-container">
                        <div class="table-header">
                            <div class="title">
                                <h1>SILVER</h1>
                                <p>Build more and faster</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="body-title">
                            <h2>Mobile Application</h2>
                        </div>
                        <!--  -->
                        <ul>
                            <div class="ul-title">Mobile Application</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited Scenes and External Layouts</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited Objects</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited Events and External Events</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Cloud Projects                            </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>50 Cloud Projects</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Game Publishing                           </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>10 cloud builds per day for Android</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>10 cloud builds per day for desktop</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited web builds to gd.games</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited manual builds</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Branding                         </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Optional GDevelop splashscreen</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Custom leaderboard colors</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Game Monetization                        </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>AdMob and In-App Purchases</span>
                            </li>
                        </ul>
                        <!--  -->
                        
                    </div>
                    <button>order now</button>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="table">
                    <div class="price">
                        <h1>$9.99</h1>
                        <small>/mo</small>
                    </div>
                    <div class="shadow-container">
                        <div class="table-header">
                            <div class="title">
                                <h1>FREE</h1>
                                <p>Experienced creators, ambitious games</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="body-title">
                            <h2>Mobile Application</h2>
                        </div>
                        <!--  -->
                        <ul>
                            <div class="ul-title">Mobile Application</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>1 Scene</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>20 Objects</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>30 Events</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Cloud Projects</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>10 Cloud Projects</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Game Publishing</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>2 cloud builds per day for Android</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>2 cloud builds per day for desktop</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited web builds to gd.games</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited manual builds</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Branding</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Default GDevelop splashscreen</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Default GDevelop splashscreen</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Game Monetization</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>AdMob and In-App Purchases</span>
                            </li>
                        </ul>
                        <!--  -->
                        
                    </div>
                    <button>order now</button>
                </div>
                <!-- 3 -->
            </div>
        </div>
        <!-- End For Individuals -->
        <!-- End pricing -->
        <!-- Start For businesses -->
        <div class="title">
            <div class="container">
                <div class="info">
                    <h1>For businesses</h1>
                    <p>With GDevelop, you can publish high quality games for your brand, company or customers. Benefit from the robustness of an open-source technology along with dedicated support, branding and solutions for engaging your players. GDevelop has been used by hundreds of agencies, brands, universities and even governments all around the world..</p>
                </div>
            </div>
        </div>
        <!-- End Title -->
        <!-- Start pricing -->
        <div class="pricing" >
            <div class="container">
                <!-- 1 -->
                <div class="table">
                    <div class="price">
                        <h1>$30</h1>
                        <small>/mo</small>
                    </div>
                    <div class="shadow-container">
                        <div class="table-header">
                            <div class="title">
                                <h1>STARTUP</h1>
                                <p>Small game studios and startups</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="body-title">
                            <h2>Contact us</h2>
                        </div>
                        <!--  -->
                        <ul>
                            <div class="ul-title">Support</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Regular bugfixes</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Online services                            </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>500 cloud projects</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited leaderboards</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited cloud builds</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Branding                           </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Everything in Gold plan</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Player engagement                         </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Everything in Gold plan</span>
                            </li>
                        </ul>
                        <!--  -->
                    </div>
                    <button>order now</button>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="table">
                    <div class="price">
                        <h1>$289</h1>
                        <small>/mo</small>
                    </div>
                    <div class="shadow-container">
                        <div class="table-header">
                            <div class="title">
                                <h1>BUSINESS</h1>
                                <p>Agencies or game studios</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="body-title">
                            <h2>Contact us</h2>
                        </div>
                        <!--  -->
                        <ul>
                            <div class="ul-title">Support</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Helpdesk</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Online services                            </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Everything in Startup plan</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Unlimited projects</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Custom Android signing</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Branding                           </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Branded leaderboards</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Player engagement                         </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Everything in Startup plan</span>
                            </li>
                        </ul>
                        <!--  -->
                    </div>
                    <button>order now</button>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="table">
                    <div class="price">
                        <h1>$899</h1>
                        <small>/mo</small>
                    </div>
                    <div class="shadow-container">
                        <div class="table-header">
                            <div class="title">
                                <h1>BUSINESS PLUS</h1>
                                <p>Game studios, brands</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="body-title">
                            <h2>Contact us</h2>
                        </div>
                        <!--  -->
                        <ul>
                            <div class="ul-title">Support</div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Priority Helpdesk</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Online services                            </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Everything in Business plan</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>iOS Cloud Builds</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Branding                           </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Branded leaderboards</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Branded authentication</span>
                            </li>
                        </ul>
                        <!--  -->
                        <!--  -->
                        <ul>
                            <div class="ul-title">Player engagement                         </div>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Engage with your players</span>
                            </li>
                        </ul>
                        <!--  -->
                    </div>
                    <button>order now</button>
                </div>
                <!-- 3 -->
            </div>
        </div>
        <!-- End For businesses -->
        <!-- End pricing -->
        <!-- Start try -->
        <div class="try">
            <div class="container">
                <div class="info-img">
                    <img class="img1" src="/img/FEATURES.blob.png" alt="">
                    <img class="img2" src="/img/alien.png" alt="">
                </div>
                <div class="info">
                    <h2>Not using <br> GDevelop yet?</h2>
                    <p>Start building games with an open-source, accessible, fast game engine.</p>
                </div>
                <div class="info-btn">
                    <button>Try it online</button>
                    <button>Sign In</button>
                </div>
            </div>
        </div>
        <!-- End try -->
        <!-- Start Footer -->
        <%- include("./partials/Footer.ejs")%>
        <!-- End Footer -->
 <!-- js -->
 <script>
    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.navbar');
menu.onclick = () =>{
menu.classList.toggle('bx-x');
navbar.classList.toggle('open')
}
// up
let span =document.querySelector('.up')
window.onscroll =() =>{
// console.log(this.scrollY)
if(this.scrollY >= 1000){
span.classList.add('show')
}else{
span.classList.remove('show')
}
}
span.addEventListener('click',function(){
scroll({
top: 0,
behavior: "smooth"
}) 
})
//
</script>
        <!-- js -->
    </body>
</html>
