<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamal</title>
    <!-- Main Template CSS File -->
    <link rel="Stylesheet" href="/css/Register.css">
    <!-- Render All Elements Normally -->
    <link rel="Stylesheet" href="css/normalizw.css">
    <!-- Font Awesome Library -->
    <link rel="Stylesheet" href="css/all.min.css">
    <!-- boxicons  -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- boxicons or -->
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Google Fonts -->
    <link rel="icon" href="/images/logo.png" type="/images/logo.png">
</head>
    <body>
        <div class="login">
            <h1>Register </h1>
            <form>
                <label><i class='bx bx-user'></i> <span>Username</span></label>
                <input type="text" placeholder="Enter Your Username" required>
                <label><i class='bx bx-envelope'></i><span class="email">Email</span></label>
                <input type="text" placeholder="Enter Your Email" required>
                <label> <i class='bx bx-lock-alt' ></i> <span>Password</span></label>
                <input type="password" placeholder="Enter Your password" required>
                <label> <i class='bx bx-lock-alt' ></i> <span>Confirm Password</span></label>
                <input type="password" placeholder="Enter Your Confirm Password" required>
                <div class="radio">
                    <input type="radio" name="type" id="Male"> <label for="Male">Male</label>
                    <input type="radio" name="type" id="Famale"> <label for="Famale">Famale</label>
                </div>
                
                <input type="submit" value="Sign up">
                <br>
            </form>
            <div class="or">or</div>
            <div class="icon">
                <i class='bx bxl-google google'></i>
                <i class='bx bxl-facebook facebook'></i>
                <i class='bx bxl-linkedin linkedin' ></i>
            </div>
            <div class="a-footer"><a href="#">Do you already have an account?<span>Sign in</span></a></div>        
        </div>
    </body>
</html>
