/* Start Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:#222327;
    --main-color: rgb(127,228,195) ;
    --main-color-alt:# ;
    --main-text-color: #fff;
    --main-transition:0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-backgroung: #;
}
/* End Variables */
/* Start Global Rules */
/* start scrollbar */
html::-webkit-scrollbar{
    width: 12px;
    background-color: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(127,228,195,0.4)) ;
    border-radius: 6px;
    transition: var(--main-transition);
}
html::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,rgb(127,228,195)) ;
}
/* End scrollbar */
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* Start Header */
header{
    display: block;
}
header .container {
    box-shadow: 0 1px 10px var(--bg-color);
    -webkit-box-shadow: 0 0 10px var(--bg-color);
    -moz-box-shadow: 0 0 10px var(--bg-color);
    height: 66px;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
    transition: all 0.5s ease;
}
@media (max-width:1280px) {
    header .container{
        padding: 14px 2%;
        transition: 0.2s;
    }
}
header .container .logo{
    display: flex;
    align-items: center;
}
header .container img{
    width: 20px;
    margin-right: 5px;
}
header .container .logo span{
    color: var(--main-text-color);
    font-size: 17.5;
    font-weight: 600;
}
header .container .navbar{
    display: flex;
    transition: var(--main-transition);
}
@media (max-width:1090px){
    header .container .navbar{
        position: absolute;
        top: calc(100%);
        right: -100%;
        width: 270px;
        height: fit-content;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
        padding: 0 0 10px;
    }
    header .container .navbar::before{
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 10px;
        background-color: inherit;
        z-index: -11;
    }
}
header .container .navbar a{
    color: var(--main-text-color);
    font-size: 17.5;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all 0.5s ease;
    position: relative;
    transition: var(--main-color);
}
@media (max-width:1090px){
    header .container .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.5s ease;
    }
    header .container .navbar a:hover{
        color: var(--main-text-color);
        transform: translateX(10px);
    }
}
@media (max-width:1280px) {
        header .container .navbar a{
            padding: 10px 0 15px;
            margin: 0 20px;
    }
}
header .container .navbar a:hover{
    color: var(--main-color);
}
header .container .main{
    display: flex;
    align-items: center;
}
header .container .main a:hover{
    color: var(--main-color);
}
header .container .main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--main-text-color);
    font-size: 17.5;
    font-weight: 500;
    transition: all 0.5s ease;
}
header .container .navbar a.active{
    color: var(--main-color);
}
header .container .main .card{
    color: var(--main-text-color);
    transform: scale(1.5);
    margin-bottom: -5px;
}
header .container .main .user{
    display: flex;
    align-items: center;
}
header .container .main .user i{
    color: var(--main-color);
    font-size: 22px;
    margin-right: 7px ;
}
header .container #menu-icon{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width:1090px){
    header .container #menu-icon{
        display: block;
    }
}
@media (max-width:1090px){
    header .container .navbar.open{
        right: 0;
    }
}
/* End Header */
/* Start Landing */
.landing{
    padding: 60px 0 0;
}
.landing .container{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(127,228,195);
background: linear-gradient(0deg, rgba(127,228,195,1) 0%, rgba(255,255,255,1) 78%);
}
.landing .container .info{
    text-align: center;
    margin: 80px 20px 0;
}
.landing .container .info h1{
    font-weight: bold;
    font-size: 60px;
    width: 600px;
    line-height: 50px;
    letter-spacing: -2px;
}
@media (max-width:991px) {
    .landing .container .info h1{
        font-weight: bold;
        font-size: 45px;
        width: 450px;
        line-height: 40px;
        letter-spacing: -2px;
    }
}
.landing .container .info h1 span{
    position: relative;
    height: 100px;
}
.landing .container .info p{
    font-size: 18px;
    position: relative;
    top: -20;
    color: #777777;
}
@media (max-width:991px) {
    .landing .container .info p{
        font-size: 20px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
    /* End Landing */
    /* Start Store */
    .Store{
        padding-top: var(--main-padding-top);
        padding-bottom: var(--main-padding-bottom);
        position: relative;
    }
    .Store .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
        gap: 40px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .Store .container .card{
        width: 100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)  ;
        border-radius: 19.2px;
        overflow: hidden;
        transition: var(--main-transition);
    }
    .Store .container .card:hover{
        transform: translateY(-30px);
    }
    .Store .container .card:hover img{
        transform: scale(1.1);
    }
    .Store .container .card img {
        width: 100%;
        max-width: 100%;
        transition: var(--main-transition);
        margin-bottom: 10px;
    }
    .Store .container .card .review{
        display: flex;
        padding: 10px;
        margin: 5px 0 5px 5px ;
    }
    .Store .container .card .review p{
        color: black;
    }
    .Store .container .card .review .stars{
        margin-left: 10px;
        color: rgb(255, 238, 0) ;
    }
    .Store .container .card .content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .Store .container .card .content h4{
        margin: 5px 0 10px;
        font-size: 20.8px;
        color: #777777;
    }
    .Store .container .card .content h3{
        margin: 0px 0 20px;
        font-size: 25px;
    }
    .Store .container .card .footer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin:  25px 30px 20px 30px;
        position: relative;
        bottom: 0px;
    }
    .Store .container .card .footer .love{
        position: relative;
    }
    .Store .container .card .footer .love i{
        color: rgb(116, 116, 116);
        font-size: 30px;
        position: absolute;
        transform: translate(-50% , 50%);
        left: 50%;
        height: 50%;
        margin-left: 20px;
        transition: var(--main-transition);
        cursor: pointer;
    }
    .Store .container .card .footer .love i:hover{
        color: red;
    }
    .Store .container .card .footer .love .heart{
        color: red;
    }
    .Store .container .card .footer .addcard{
        display: flex;
        gap: 15px;
        background-color: rgb(3, 164, 111);
        align-items: center;
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        transition: var(--main-transition);
        cursor: pointer;
    }
    .Store .container .card .footer .addcard:hover{
        background-color: rgb(4, 150, 102);
    }
    .Store .container .card .footer .addcard p{
        color: #fff;
        font-size: 20px;
    }
    .Store .container .card .footer .addcard i{
        color: #fff;
        font-size: 20px;
        background-color: rgb(4, 150, 102);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* End Store */
        /* Start Footer */
        .footer1{
            background-color: var(--bg-color);
            width: 100%;
            text-align: center;
            padding: 50px 50px 60px 50px;
            color: var(--main-text-color);
            margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px 10px;
        }
        .footer1 .footer-left span{
            color: var(--main-color);
        }
        .footer1 .footer-left .footer-links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .footer1 .footer-left .footer-links a{
            color: var(--main-text-color);
            transition: var(--main-transition);
        }
        .footer1 .footer-left .footer-links a:hover{
            color: var(--main-color);
        }
        
        .footer1 .footer-left .footer-name {
            margin-top: 20px;
            color: #777777;
        }
        .footer1 .footer-left .footer-name b{
            color: #92999f;
            
        }
        
        .footer1 .footer-center{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .footer1 .footer-center div{
            display: flex;
            gap: 20px;
        }
        .footer1 .footer-center div i{
        background-color: #33383b;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        color: #92999f;
        transition: var(--main-transition);
        }
        .footer1 .footer-center div:hover i{
            background-color: #92999f;
            color: #fff;
        }
        .footer1 .footer-center div p{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer1 .footer-center div a{
            color: var(--main-color);
            font-weight: bold;
        }
        
        .footer1 .footer-right{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            position: relative;
            top: 25px;
            max-width: 400px ;
        }
        .footer-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }
        .footer-icons a{
            background-color: #33383b;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            color: #92999f;
            transition: var(--main-transition);
        }
        .footer-icons .facebook:hover{
            background-color: #3b5998;
            color: #ffffff;
        }
        .footer-icons .instagram:hover{
            background: #f09433; 
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            color: #ffffff;
        }
        .footer-icons .linkedin:hover{
            background-color: #0e76a8;
            color: #ffffff;
        }
        .footer-icons .twitter:hover{
            background-color: #00acee;
            color: #ffffff;
        }
        .footer-icons .youtube:hover{
            background-color: #c4302b;
            color: #ffffff;
        }
        .footer-company {
            color: #bc1888;
        }
        .footer-right p{
            color: var(--main-color);
            font-size: 22px;
            text-transform: uppercase;
            font-weight: bold;
        }
        .footer-right{
            color: #92999f;
            line-height: 17px;
        }
        /* up */
        .up{
            position: fixed;
            bottom: 10px;
            right: -100px;
            background-color: var(--bg-color);
            color: var(--main-color);
            font-weight: bold;
            font-size: 30px;
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.2s;
            display: flex;
        }
        .up.show{
            right: 10px;
        }
        /* up */
/* up */
